.my-select {
  position: relative;

  width: 150px;
  height: 32px;
  line-height: 32px;
  text-indent: .3rem;
  color: #373e4e;
  background-color: #fff;
  border: 1px solid #373e4e;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  -moz-box-sizing: content-box!important;
  -webkit-box-sizing: content-box!important;
  box-sizing: content-box!important;
  >span {
    display: inline-block;
    width: 5rem;
    height: 1.7rem;
  }
}

.top-after::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #373e4e;
  position: absolute;
  right: 10px;
  top: 13px;
  -moz-box-sizing: content-box!important;
  -webkit-box-sizing: content-box!important;
  box-sizing: content-box!important;
}

.bottom-after::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #373e4e;
  position: absolute;
  right: 10px;
  top: 13px;
  -moz-box-sizing: content-box!important;
  -webkit-box-sizing: content-box!important;
  box-sizing: content-box!important;
}

.select-content {
  position: absolute;
  left: -1px;
  top: 32px;
  width: 150px;
  border: 1px solid #373e4e;
  border-radius: 3px;
  background-color: #c9d2db;
  z-index: 999;
  opacity: 1;
  filter: alpha(opacity=1);
  -moz-box-sizing: content-box!important;
  -webkit-box-sizing: content-box!important;
  box-sizing: content-box!important;
  >ul {
    margin-bottom: 0;
    background-color: #c9d2db;
    opacity: 1;
    filter: alpha(opacity=1);
    -moz-box-sizing: content-box!important;
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important;
    >li {
      width: 150px;
      height: 32px;
      color: #373e4e;
      line-height: 32px;
      text-align: center;
      background-color: #c9d2db;
      opacity: 1;
      filter: alpha(opacity=1);
      -moz-box-sizing: content-box!important;
      -webkit-box-sizing: content-box!important;
      box-sizing: content-box!important;
      &:hover {
        cursor: pointer;
        background-color: skyblue;
        -moz-box-sizing: content-box!important;
        -webkit-box-sizing: content-box!important;
        box-sizing: content-box!important;
      }
    }
  }
}
